@model IEnumerable<KhadimiEssa.Models.ChatModels.SiteUsersChatViewModel>

@{
    Layout = "/Views/Shared/_ChatSiteLayout.cshtml";
    ViewData["Title"] = "Users";
}


<div class="body-content">

    <div class="the_baner">
        <img src="~/ChatSite/imgs/paner.jpg">
        <h5>المحادثات</h5>
    </div>

    <div class="sec-marg">

        <div class="container">

            <div>

                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Messages","Chat",new { id = item.OrderNumber })" class="inside item_mass">
                        <div class="d-flex align-items-center">
                            <img src="@item.UserImg">
                            <div>
                                <h6 class="mb-20">@item.UserName</h6>
                                <p class="text_mass">
                                    @item.lastMsg
                                </p>
                            </div>
                        </div>
                        <div class="time">
                            <i class="fas fa-clock"></i>
                            <span>@item.Date</span>
                        </div>
                    </a>
                }



            </div>
            @if (Model.Count() == 0)
            {
                <div class="row justify-content-center">
                    <div class="col-md-8 not_talab">
                        لا يوجد محادثات
                    </div>

                </div>
            }

        </div>

    </div>
</div>

