@model KhadimiEssa.Data.TableDb.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViMaEntityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViMaEntityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MadaEntityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MadaEntityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiveAccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiveAccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestAccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestAccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiveCheckoutUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiveCheckoutUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCheckoutUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestCheckoutUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
