@model IEnumerable<KhadimiEssa.Data.TableDb.Note>

@{
    ViewData["Title"] = "Index";
}

<<div class="card-box">
    @*<h4 class="header-title m-t-0 m-b-30" style="text-align:center"></h4>*@

    <h2 class="header-title m-t-0 m-b-30"> الملاحظات</h2>

    <div>
        <p>
            @Html.ActionLink("اضافة", "Create", "Notes", null, new { @class = "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" })
        </p>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead style="text-align:center">
                <tr>
                    <th>النص بالعربية</th>
                    <th>النص بالانجليزية</th>
                    <th> الحالة </th>
                    <th>تغيير الحالة </th>
                    <th>تعديل </th>
                    <th>حذف </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameAr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameEn)
                        </td>
                        <td>
                            @{
                                if (item.IsActive == true)
                                {
                                    <label id="@item.Id" style="color:green;font-size: 17px;">مفعل</label>
                                }
                                else
                                {
                                    <label id="@item.Id" style="color:red;font-size: 17px;">غير مفعل</label>
                                }
                            }
                        </td>
                        <td>
                            <input type="button" value="تغيير الحالة" onclick="ChangeStatus(@item.Id)" class="btn btn-purple btn-rounded" />
                        </td>

                        <td>
                            @Html.ActionLink("تعديل", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-rounded" })
                        </td>

                        <td>
                            <input type="button" value="حذف" onclick="Delete(@item.Id)" class="btn btn-purple btn-rounded" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>



@section scripts{

    <script>

        function ChangeStatus(id) {
            $.ajax({
                url: "/Notes/ChangeState",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {

                    if (result.data == true) {
                        $('#' + id).css('color', 'green');
                        $('#' + id).html('مفعل');
                    } else if (result.data == false) {
                        $('#' + id).css('color', 'red');
                        $('#' + id).html('غير مفعل');

                    }
                },
                failure: function (info) {

                }
            });
        }

        function Delete(id) {
            Swal.fire({
                title: 'هل انت متاكد من حذف هذا العنصر  ؟',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'اغلاق',
                confirmButtonText: 'حذف',
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/Notes/Delete",
                        type: "POST",
                        dataType: "json",
                        data: {
                            id: id
                        }, success: function (result) {
                            if (result.data == true) {
                                toastr.success("تم الحذف بنجاح");
                                setTimeout(function () {
                                }, 3000);
                            }
                            window.location.reload();
                        },
                        failure: function (info) {

                        }
                    })
                }
            })
        }

    </script>
}
